*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    border: 0;
    padding: 0;
}
a
{
    text-decoration: none;
}
#first
{
    width: 100vw;
    height: 17vh;
    margin-top: -18vh;
    padding-left: 19vw;
}

#logo
{
    height: 11vh;
    
}
.navbar-nav{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin-left: 25%;
} 

.navbar-nav a{
    text-decoration: none;
    font-size: 30px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding: 0px;
}


#search
{
    padding: 2%;
}
#SearchEdit{
    display: flex;
    justify-content: center;
    align-items:flex-end ; 
} 

#homepage_search_btn{
    padding: 0px;
    margin: 0px;
    height: 7vh;
    border: 0;
    border-radius: 0 1vw 1vw 0;
    padding-right: 1.5vh;
    background: white;
}
#homepage_search_bt{
    padding: 0px;
    margin: 0px;
    height: 7vh;
    border:1px 1px 1px 0px solid black;
    border-radius: 0 1vw 1vw 0;
    padding-right: 1.5vh;
    background: white;
    
}
#SearchEdit img{
    height: 40px;
    width: 40px;
}
#home_input
{
    width: 50vw;
    border-radius: 1vw 0 0 1vw;
    height: 7vh;
    font-size: 4vh;
    padding-left: 2vw;
    margin-top: 38vh;
    border: 1px solid white;
    outline: none;
}

#home_inpu
{
    width: 50vw;
    border-radius: 1vw 0 0 1vw;
    height: 7vh;
    font-size: 4vh;
    padding-left: 2vw;
    margin-top: 4vh;
    border: 1px 0px 1px 1px solid black;
    outline: none;
}
#form
{
    padding-bottom: 2.5vh;
}

.card
{
    margin: 2vw;
    word-wrap: none;
    
}
.card:hover
{
    border: 0px;
    background-color: #FFFAEF;
    word-wrap: none;
}
a:hover
{
    color: black;
}
#six
{
 display: flex;
 margin-right: 6%;
 justify-content: flex-end;
}
#medicine
{
    background-color:  #DBF3FA;
}
#above_news,#giving_color{
    text-align: center;
    color: slategray;
    font-size: 4rem;
} 

@media screen and (max-width:860px) {
    .card{
        margin: 0px;
        width: 100%;
        margin-top: 1rem;
    }
    #above_news,#giving_color{
        font-size: 2rem;
    }
    
    #giving_color{
        border-top: 1.5rem solid #DBF3FA;
    }

       
}
#more_news{
    font-size: 2rem;
    margin-top: 80vh;
}
#footer
{
    background-color: #7393B3;
    color: whitesmoke;
}
div#footer > div.container {background-color:#7393B3;}

#foo
{
    border-bottom: 2px solid whitesmoke;
    width: 87vw;
}
#pic
{
    width: 50%;
    border-radius: 50%;
}
#profile
{
    margin-top: 0vh;
    color: slategray;
    padding-top: 4vh;
    width: 100%;
    background-color: #F0F8FE;
}
#med_data
{
    font-size: 6vh;
    margin-left:0vw;
    margin-left: 30vw;
}
.card_profile
{
    width: 15vw;
    height: 23vh;
    background-color: 	#B7E9F7;
    display: inline-block;
    padding: 1vh 3vw;
    margin-left: 4vw;
    margin-top: 5vw;
    border: 2px solid black;
    border-radius: 10px;
}

.card_profile:hover
{
    background-color: #92DFF3;
    border: 0px;
}

.con {
    display: flex;
    flex-wrap: wrap;
}

.left {
    background-color: #d1f1de;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    outline-color: black;
    border-radius: 20px;
    margin: -55.5vh 40vw 5vh 5vw;
  }
  .right {
    background-color: #d1f1de;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    outline-color: black;
    border-radius: 20px;
    margin: -60vh 5vw 5vh 40vw;
  }
  .picforleft {
    margin: 20vh 10vw 5vh 63.5vw;
    height: 45vh;
    width: 45vw;
  }
  .picforright {
    margin: 20vh 40vw 10vh 5vw;
    height: 45vh;
    width: 30vw;
  }
  .Sign-btn{
    color: #fff;
    width:100% ;
    padding:10px ;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline:none;
    cursor: pointer;
    background-color: #1c8adb;
}
.sign-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:450px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #f0f0f0;
    padding:20px;
    text-align: center;
    margin: 5% auto 0;
    border-radius: 2rem;
}
.or{
    background:#f0f0f0;
    width: 40px;
    margin: -10px auto 10px;
}
#signforma{
    text-decoration: none;
}
.sign-form img{
    width:70px;
}
hr{
    margin-top: 20px;
    width: 100%;
}
.form input
{
    border-radius: 2vw;
    height: 4vh;
    font-size: 2vh;
    border: 1px solid black;
    outline: none;
    margin-top: 10px;
    width: 285px;
    padding-left: 1vw;
}
.logout
{
    background-color:#f0f0f0 ;
    width:100vw;
    height: 50vh;
    padding: 25px;
    text-align: center;
}
.alert-success
{
    background-color: rgb(140, 221, 194);
    color: rgb(36, 59, 36);
    width: 29vw;
    height: 6vh;
    font-size: 2.5vh;
    padding: 1vh;
    border-radius: 2px;
    text-align: center;
    margin: 2vh auto;
}





@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p
{
    font-weight: 300;
    color: #fff;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: rgb(208, 255, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:rgb(255, 255, 255);
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h2
{
    font-weight: 500;
    color : hsl(187, 100%, 50%);
}
.container .contactInfo .box .text p
{
    font-weight: 500;
    color : #ffffff;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    border-radius: 2rem;
    border: 2px solid rgb(87, 87, 148);
    background: #fff;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(25, 2, 68);
    outline: none;
    resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(0, 173, 150);
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: rgb(82, 201, 185);
    font-size: 12px;
    transform: translateY(-20px);    
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
@media (max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
        width: 100%;
    }
    
}

#update
{
    color: #fff;
    width:5vw ;
    padding:10px ;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline:none;
    cursor: pointer;
    background-color: #1c8adb;
}
.search
{
    border: 2px solid slategray;
    border-radius: 10px;
    padding:10px;
    margin: 10px;
}

.card_news
{
    display: inline-block;
    display: inline-block;
    width:70vw;
    height: 66.5vh;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1vh 1vw;
    margin: 3vh 5vw;
    background-color: whitesmoke;
    font-size: 2.2vh;
}
.card_news:hover
{
    border: 0px;
    background-color: #FFFAEF;
}
.card_news img
{
    width: auto;
    padding: 1vh 1vw;
    height: 30vh;
}
.news
{
    text-align: center;
    width: 100vw;
    height: auto;
    background-color: #F0F8FE;
}
#news_all h1
{
    margin-left: -1vw;
}

#main_div_profile{
    display: flex;
    justify-content: space-around;
    min-height: 350px;
    flex-grow: 1;
    max-width: 80%;
    border-radius:0.5rem;
    box-shadow: 0px 0px 5px 3px #442a2a;
    
}
.profile_divs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    padding: 1%;
    /* height:270px; */
    margin : auto 0;
    border: 1px solid white;
    border-radius:0.5rem;
    background-color: white;
    box-shadow: 0px 0px 5px 3px #888;
}


#main_sidebar{
    display: flex;
    justify-content: space-between;
}
#sidebar{
    display: flex;
    flex-direction: column;
    width:150px;
    word-wrap: break-word;
}
#abcde{
    display: flex;
    flex-direction: column;
}
#abcde>div{
    margin:0px;
}
