{% extends 'homepage/base.html'%}
{%load static%}
{% block content%}
<div class = "con">
<div style="background-color: #f0f0f0; margin-bottom: 0px;">
    <img class="picforleft" src="{% static 'homepage/image1.jpeg' %}" alt="Image1" style="width: 30vw;"/>

    <p class="left" style="color: black; font-size: 1cm">
      <b style="color: slategrey"
        >Do you keep forgetting about your health related stuff?</b
      >
      <br />
      <br />
      Don't panic! we got your back....
      <br />
      Just update it for once in your profile and forget about it for forever.
      <br />
      <br />
    </p>

    <img class="picforright" src="{% static 'homepage/image2.jpeg' %}" alt="Image2" style="margin-top: 24vh;"/>

    <p class="right" style="color: black; font-size: 1cm; margin-top: -65vh;">
      <b style="color: slategrey">Commitment</b>
      <br />
      <br />
      We are committed to delivering quality-driven pharmacovigilance services
      and working flexibly with our customers. We work towards continuous
      improvement in our understanding of benefit-risk profile of our
      customers’ products and thereby safeguard patients.
    </p>

    <img class="picforleft" src="{% static 'homepage/image3.jpeg' %}" alt="Image3" style="width: 30vw;"/>

    <p class="left" style="color: black; font-size: 1cm">
      <b style="color: slategrey">OUR GOAL</b>
      <br />
      <br />
      To help you track the records of all your medicines in one place so that
      you don't have to remember every single one of those and can easily view
      them in a single place with a single tap.
    </p>

    <img class="picforright" src="{% static 'homepage/image4.jpeg' %}" alt="" style="height: 42vh;"/>

    <p class="right" style="color: black; font-size: 1cm; margin-top: -55vh;">
      <b style="color: slategrey">Developers</b>
      <br />
      <br />Ayush <br />Sahil <br />Mayank <br />Ravi
    </p>
    <br>
    <br>
  </div>
    </div>

{% endblock content%}
