{% extends 'homepage/base.html'%}
{%load static%}
{% block content%}

  <div class="things">
      <div id="heading"> 
        <h1 id="main">MEDET-MEDical DETails</h1>
        <p id="moto"> My Health,My Life</p>
      </div>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
        <div class="card h-100" style=" background-color: #FFFAEF;" >
            <div class="card-body">
              <h3 class="card-title">Our Vision</h3>
              <p class="card-text">Do you easily forget stuff, have you ever forgotten the names of the medicines you take? Have you ever misplaced your reports? Don't worry we've got your back.In this tiring,exhausting day to day life, its hard to manage all the stuff, So we manage your medical data for you..</p>
            </div>
        </div>
          </div>
           <div class="col">
          <div class="card h-100" style=" background-color: #FFFAEF;">
            <div class="card-body">
              <h3 class="card-title">Our Goal</h3>
              <p class="card-text"> To help you track the records of all your medicines,doctors,medicine schedules, diseases and medical reports in one place so that
                you don't have to remember every single one of them, To keep you updated about all the news related to health,To recommend some medicines based on your diseases.
                And to supply you with the information of numerous other medicines.</p>
            </div>
        </div>
          </div>
           <div class="col">
          <div class="card h-100" style=" background-color: #FFFAEF;">
            <div class="card-body">
              <h3 class="card-title">Our Team</h3>
              <p class="card-text"><li>Ayush Singh</li>
                <li>Sahil</li>
                <li>Mayank</li>
                <li>Ravi Chowdhary</li></p>
            </div>
          </div>
        </div>
          </div>
  </div>


{% endblock content%}
