{% extends 'homepage/base.html'%}
{%load static%}
{% block content%}
<section class="content">
  <div class="content">
      <h1>MEDET-MEDical DETails</h1>
      <p> My Health,My Life</p>
  <div class="vision">
      <h2>Our Vision</h2>
      <p>Do you easily forget stuff, have you ever forgotten the names of the medicines you take? Have you ever misplaced your reports? Don't worry we've got your back.In this tiring,exhausting day to day life, its hard to manage all the stuff, So we manage your medical data for you.
      </p>
  </div>
  <div class="Goal">
      <h2>Our Goal</h2>
      <p>
          To help you track the records of all your medicines,doctors,medicine schedules, diseases and medical reports in one place so that
          you don't have to remember every single one of them, To keep you updated about all the news related to health,To recommend some medicines based on your diseases.
          And to supply you with the information of numerous other medicines.
      </p>
  </div>
  <div class="team">
      <h2>Our Team</h2>
      <p>
          <ul>
              <li>Ayush Singh</li>
              <li>Sahil</li>
              <li>Mayank</li>
              <li>Ravi Chowdhary</li>
          </ul>
      </p>
  </div>
  </div>
</section>

{% endblock content%}
