{% extends 'homepage/base.html'%}
{%load static%}
{% block content%}
<section class="contact">
    <div class="content">
      <h2>Contact Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ratione ad
        omnis natus at cumque atque et accusantium aut quae.
      </p>
    </div>
    <div class="container">
      <div class="contactInfo">
        <div class="box">
          <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <div class="text">
            <h2>Address</h2>
            <p>
              Indian Institute of Technology Palakkad
            </p>
          </div>
        </div>
        <div class="box">
          <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
          <div class="text">
            <h2>Phone</h2>
            <p>+91 12345 56789</p>
          </div>
        </div>
        <div class="box">
          <br>
          <div class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
          <div class="text">
            <h2>Email</h2>
            <p>112001024@smail.iitpkd.ac.in<br>112001036@smail.iitpkd.ac.in<br>122001010@smail.iitpkd.ac.in<br>102001025@smail.iitpkd.ac.in</p>
          </div>
        </div>
      </div>
      <div class="contactForm">
          <form>
              <h2>Send Message</h2>
              <div class="inputBox">
                  <input type="text" name="" id="" required="required">
                  <span>Full Name</span>
              </div>
              <div class="inputBox">
                  <input type="text" name="" id="" required="required">
                  <span>Email</span>
              </div>
              <div class="inputBox">
                  <textarea required="required"></textarea>
                  <span>Type your Message...</span>
              </div>
              <div class="inputBox">
                  <input type="submit" name="" value="send">
              </div>
          </form>
      </div>
    </div>
  </section>


{% endblock content%}