{% extends 'homepage/base.html'%}
{%load static%}
{% block content%}

<div id="second">
    <form id="form" action="{% url 'search'%}" method="POST">
        {%csrf_token%}
        <section id="SearchEdit">
            <input id="home_input" name="home_input" type="text" name="search" placeholder="Search">
            <button type="submit" id="homepage_search_btn"><img src="{% static 'homepage/R.png' %}"></button>
        </section>
    </form>
</div>
{%if user.is_authenticated %}
<div id="medicine"><!-- not to touch -->
    <h1>Medicine Recommendations</h1>
    {% for disease in diseases%}
        <div class="card">
            <h1> {{disease.openfda.generic_name.0}}</h1>
            <br>
            <h2>Manufacturer: {{disease.openfda.manufacturer_name.0}}</h2>
            <br>
            <h2>Brand Name: {{disease.openfda.brand_name.0}}</h2>
            <br>
            <br>
            <a href="{% url 'med_read_more' disease.openfda.spl_id.0  %}" target="_blank">Read More</a>
            <br>
         </div>
         <br>
    {%endfor%}
    
</div>
{%endif%}
    <h1 id="above_news">News related to Health</h1>
    {%for article in articles%}
    <section id="section_with_cards">
        <div class="card">
            {% if article.urlToImage%}
            <img src="{{article.urlToImage}}" alt="" height="180px" width="200px">
            {%else%}
            <img src="{% static 'homepage/no_img.jpg'%}" alt="">
            {%endif%}
            <h2> {{article.title}}</h2>
            <br>
            <h2>{{article.author}}</h2>
            <br>
            <p>{{article.description}}</p>
            <a href="{{article.url}}" target="_blank">Read Full Article</a>
        </div>
        {%endfor%}
    <a href="{%url 'news'%}" id="more_news">Click here for More News</a>

{% endblock content%}