{% extends 'homepage/base.html'%}
{%load static%}
{% block content%}

<div id="second">
    <form id="form" action="{% url 'search'%}" method="POST">
        {%csrf_token%}
        <section id="SearchEdit">
            <input id="home_input" name="home_input" type="text" name="search" placeholder="Search">
            <button type="submit" id="homepage_search_btn"><img src="{% static 'homepage/R.png' %}"></button>
        </section>
    </form>
</div>
{%if user.is_authenticated %}
<div id="medicine"><!-- not to touch -->
    <h1>Medicine Recommendations</h1>
    {%if user.disease %}
    <h1>{{user.disease.disease_name}}</h1>
    {%else%}
    <div class="card">
        <h1>{{user.disease.disease_name}}</h1>
        <img class="card_img" src="{%static 'homepage/GLYCODIN-SYRUP-100-ML.jpg'%}" alt="">
        <p>
            Lorem ipsum dolor sit amet consectetur adip solo elit. Ratione rem libero quis necessitatibus illum tempore dolorum perferendis doloribus doloremque temporibus ad, quisquam repellendus cum ex inventore. Reiciendis earum ducimus dicta rerum deserunt! In nisi quo fuga iusto! Mollitia, saepe voluptatibus animi tenetur, dolore eaque sed illum, laudantium laborum cum magnam explicabo accusantium at obcaecati repellat doloremque temporibus consequuntur possimus rerum eius quidem quasi voluptate adipisci! Adipisci ipsum debitis earum minus.
        </p>
    </div>
    <div class="card" id="wo">
        <img class="card_img" src="{%static 'homepage/paracetamol-tablets_1618901822.jpg'%}" alt="">
        <p>
            Lorem ipsum dolor sit amet consectetur adip solo elit. Ratione rem libero quis necessitatibus illum tempore dolorum perferendis doloribus doloremque temporibus ad, quisquam repellendus cum ex inventore. Reiciendis earum ducimus dicta rerum deserunt! In nisi quo fuga iusto! Mollitia, saepe voluptatibus animi tenetur, dolore eaque sed illum, laudantium laborum cum magnam explicabo accusantium at obcaecati repellat doloremque temporibus consequuntur possimus rerum eius quidem quasi voluptate adipisci! Adipisci ipsum debitis earum minus.
        </p>
    </div>
    {%endif%}
</div>
{%endif%}
<div id="news">
    <h1>News related to Health</h1>
    {%for article in articles%}
    <section id="section_with_cards">
        <div class="card">
            {% if article.urlToImage%}
            <img src="{{article.urlToImage}}" alt="" height="180px" width="200px">
            {%else%}
            <img src="{% static 'homepage/no_img.jpg'%}" alt="">
            {%endif%}
            <h2> {{article.title}}</h2>
            <br>
            <h2>{{article.author}}</h2>
            <br>
            <p>{{article.description}}</p>
            <a href="{{article.url}}" target="_blank">Read Full Article</a>
        </div>
        {%endfor%}
        {%for article in articles1%}
        <div class="card" id="wo">
            {% if article.urlToImage%}
            <img src="{{article.urlToImage}}" alt="" height="180px" width="200px">
            {%else%}
            <img src="{% static 'homepage/no_img.jpg'%}" alt="">
            {%endif%}
            <h2> {{article.title}}</h2>
            <br>
            <h2>{{article.author}}</h2>
            <br>
            <p>{{article.description}}</p>
            <a href="{{article.url}}" target="_blank">Read Full Article</a>
        </div>
    </section>
    
    {%endfor%}
    <a href="{%url 'news'%}" id="more_news">Click here for More News</a>
</div>
{% endblock content%}