{% extends  "homepage/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
    <div style="min-height: 100vw">
        <h1 id="above_news">My Bookmarks</h1>
        <br>
        <br>
        <ul>
            {%if bookmarks%}
            {% for bookmark in bookmarks%}
            <li><a href="{%url 'new_read_more' bookmark.openfda.spl_id.0 %}" style="color: slategray;">{{bookmark.openfda.generic_name.0}}</a></li>
            <br>
            {%endfor%}
            {%else%}
            <h2>No Bookmarked Medicines</h2>
            {%endif%}
        </ul>
    </div>

{% endblock content%}