{% extends  "homepage/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
    <div style="min-height: 100vh;">
        <h1>{{object.doctor_name}}</h1>
        <br>
        <br>
        <h2>Address: {{object.address}}</h2>
        <h2>Contact: {{object.contact}}</h2>
        <br>
        <br>
        <a class=" btn btn-primary btn-md"  href="{%url 'profile_doc_update' object.id %}">Update Doctor Profile</a>
        <a class=" btn btn-primary btn-md"  href="{%url 'profile_doc_delete' object.id %}">Delete Doctor Profile</a>
        
    </div>

{% endblock content%}