{% extends  "homepage/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
    <div style="min-height: 100vh;">
        <h1 id="above_news">My medicines</h1>
        <div class="button_for_adding">
            <a class=" btn btn-primary btn-lg"  href="{%url 'profile_med_create' %}">Add Medicine</a>
        </div>
        
        <br>
        <br>
        <ul>
            {%if medicines%}
            {% for medicine in medicines%}
            <li><a href="{%url 'profile_med_detail' medicine.id %}" style="color: slategray;">{{medicine.medicine_name}}</a></li>
            <br>
            {%endfor%}
            {%else%}
            <h2>No Medicines</h2>
            {%endif%}
        </ul>
    </div>

{% endblock content%}