{% extends  "homepage/base.html" %}
{% load crispy_forms_tags%}
{%load static%}
{% block content%}
    <div class="body">
        {% if messages %}
        {% for message in messages %}
        <div class="alert-{{message.tags}}">
            {{message}}
        </div>
        {%endfor%} 
        {%endif%}
        <div class="sign-form">
            <img src="{% static 'homepage/2.png'%}">
            <h2>
                Reset Password
            </h2>
            <form class="form" method="POST">
                {%csrf_token%} 
                        {{form|crispy}}
                        <br>
                        <br>
                <button type="submit" class="Sign-btn">Reset Password</button>
            </form>
        </div>
    </div>
        
{% endblock content%}