{% extends  "homepage/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
    <div >
        <h1>My medicines</h3>
        <a class="Sign-btn"  href="{%url 'profile_med_create' %}">Add Medicine</a>
        <br>
        <br>
        <ul>
            {% for medicine in medicines%}
            <li><a href="{%url 'profile_med_detail' medicine.id %}" style="color: slategray;">{{medicine.medicine_name}}</a></li>
            <br>
            {%endfor%}
        </ul>
    </div>

{% endblock content%}