{% extends  "homepage/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
    <div style="min-height: 100vh;" >
        <h1>{{object.medicine_name}}</h1>
        <br>
        <br>
        {%if object.image %}
        <img id="pic" src="{{object.image.url}}" alt="">
        {%endif%}
        <h2>Reason: {{object.disease_name}}</h2>
        <h2>When to Take: {{object.schedule}}</h2>
        <h2>Prescribed by: {{object.doctor_name}}</h2>
        <br>
        <br>
        <a class=" btn btn-primary btn-md"  href="{%url 'profile_med_update' object.id %}">Update Medicine</a>
        <a class=" btn btn-primary btn-md"  href="{%url 'profile_med_delete' object.id %}">Delete Medicine</a>
        
    </div>

{% endblock content%}