{% extends  "homepage/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
        <div id="profile">
            {% if messages %}
            {% for message in messages %}
            <div class="alert-{{message.tags}}">
                {{message}}
            </div>
            {%endfor%} 
            {%endif%}
            <img id="pic" src="{{user.profile.image.url}}" alt="">
            {% if user.first_name %}
            <h2 class="username">Name: {{user.first_name}}</h1>
            {%else%}
            <h2 class="username">Username: {{user.username }}</h1>
            {%endif%}
            {% if user.profile.age %}
            <h2 >Age: {{user.profile.age}}</h1>
            {%else%}
            <h2 >Age: </h1>
            {%endif%}
            {% if user.profile.date_of_birth %}
            <h2 >Date Of Birth: {{user.profile.date_of_birth}}</h1>
            {%else%}
            <h2 >Date Of Birth: </h1>
            {%endif%}
            {%if user.email%} 
            <h2 class="email">Email: {{user.email}}</h2>
            {%endif%}
            {% if user.profile.contact %}
            <h2 >Contacts: {{user.profile.contact}}</h1>
            {%else%}
            <h2 >Contacts: </h1>
            {%endif%}
            {% if user.profile.address %}
            <h2 >Address: {{user.profile.address}}</h1>
            {%else%}
            <h2 >Address: </h1>
            {%endif%}
            {% if user.profile.blood_type %}
            <h2 >Blood Type: {{user.profile.blood_type}}</h1>
            {%else%}
            <h2 >Blood Type: </h1>
            {%endif%}
            {% if user.profile.allergy %}
            <h2 >Allergies: {{user.profile.allergy}}</h1>
            {%else%}
            <h2 >Allergies: </h1>
            {%endif%}
            {% if user.profile.weight %}
            <h2 >Weight(in Kg): {{user.profile.weight}}</h1>
            {%else%}
            <h2 >Weight(in Kg): </h1>
            {%endif%}
            {% if user.profile.height %}
            <h2 >Height(in cm): {{user.profile.height}}</h1>
            {%else%}
            <h2 >Height(in cm): </h1>
            {%endif%}
            <br>
            <a href="{%url 'profile_update'%}">Update Profile</a>
            <div id="data">
                <h1 id="med_data">Medical data</h1>
                <br>
                <br>
                <br>
                
                <a href="{% url 'profile_medicine'%}" style="color: slategray;"><div class="card_profile">
                    <h3>My medicines</h3>
                    <br>
                    <br>
                    <ul>
                        {% for medicine in medicines%}
                        <li>{{medicine.medicine_name}}</li>
                        {%endfor%}
                    </ul>
                </div></a>
                <a href="{% url 'profile_doctor'%}" style="color: slategray;"><div class="card_profile">
                    <h3>My Doctors</h3>
                    <br>
                    <br>
                    <ul>
                        {% for doctor in doctors%}
                        <li>{{doctor.doctor_name}}</li>
                        {%endfor%}
                    </ul>
                </div></a>
                <a href="{% url 'profile_disease'%}" style="color: slategray;"><div class="card_profile">
                    <h3>My disease</h3>
                    <br>
                    <br>
                    <ul>
                        {% for disease in diseases%}
                        <li>{{disease.disease_name}}</li>
                        {%endfor%}
                    </ul>
                </div></a>
                <a href="{% url 'profile_schedule'%}" style="color: slategray;"><div class="card_profile">
                    <h3>My Schedule</h3>
                    <br>
                    <br>
                    <ul>
                        {% for schedule in schedules%}
                        <li>{{schedule.schedule}}</li>
                        {%endfor%}
                    </ul>
                </div></a>

                <br>
                <br>
                <br><br>
                <a href="{%url 'profile_med_reports'%}">Medical Reports</a>
            </div>
        </div>
        
{% endblock content%}
