{% extends  "homepage/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
            {% if messages %}
            {% for message in messages %}
            <div class="alert-{{message.tags}}">
                {{message}}
            </div>
            {%endfor%} 
            {%endif%}
        <div id="profile">
            <form  method="POST" enctype="multipart/form-data">
                {%csrf_token%} 
                        {{u_form|crispy}}
                        {{p_form|crispy}}
                        <br>
                        <a class=" btn btn-primary btn-lg" href="{%url 'password_reset'%}">Reset Password</a>
                <button class=" btn btn-primary btn-lg" type="submit">Update</button>
            </form>
        </div>
        <br>
{% endblock content%}