{% extends "homepage/base.html" %}
{%load static%}
{% block content%}
<div class="body">
    <div class="sign-form" >
        <h1>
            Delete Report
        </h1>
        <form class="form" method="POST">
            {%csrf_token%} 
            <h2>Are you sure you want to delete the Report?</h2>
                    <br>
                    <br>
            <button type="submit" class="Sign-btn">Yes,Delete</button>
            <a href="{% url 'profile_report_detail' object.id %}" class="Sign-btn">Cancel</a>
        </form>
    </div>
</div>
{% endblock content%}