{% extends  "homepage/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
    <div >
        <h1>{{object.title}}</h1>
        <br>
        <br>
        {%if object.description%}
        <h2>Description: {{object.description}}</h2>
        {%else%}
        <h2>Description: </h2>
        {%endif%}
        <img  src="{{object.medical_report.url}}" alt="">
        <br>
        <br>
        <a class="Sign-btn"  href="{%url 'profile_report_update' object.id %}">Update Report</a>
        <a class="Sign-btn"  href="{%url 'profile_report_delete' object.id %}">Delete Report</a>
        
    </div>

{% endblock content%}