{% extends  "homepage/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
    <div >
        <h1>My Reports</h1>
        <a class="Sign-btn"  href="{%url 'profile_report_create' %}">Add Report</a>
        <br>
        <br>
        <ul>
            {%if reports%}
            {% for report in reports%}
            <li><a href="{%url 'profile_report_detail' report.id%}" style="color: slategray;">{{report.title}}</a></li>
            <br>
            {%endfor%}
            {%else%}
            <h3>No reports</h3>
            {%endif%}
        </ul>
    </div>

{% endblock content%}