{% extends  "homepage/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
    <div >
        <h1>My Schedules</h3>
        <br>
        <br>
        <ul>
            {%if schedules%}
            {% for schedule in schedules%}
            <li><a href="{% url 'profile_med_detail' schedule.id %}" style="color: slategray;">{{schedule.schedule}}</a></li>
            <br>
            {%endfor%}
            {%else%}
            <h2>No Schedules</h2>
            {%endif%}
        </ul>
    </div>

{% endblock content%}